@using System.Data;
@model DataTable;
@using AdminPanel.Areas.MST_Student.Models
﻿@{
    Layout = "~/Views/shared/_Layout.cshtml";
    MST_StudentFilterModel FilterModel = new MST_StudentFilterModel();
}

<div class="body">
    <div class="pagetitle">
        <h1>Student</h1>
    </div>
    @if (TempData["key"] != null)
    {
        <div id="tempAlert" class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["key"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="d-flex justify-content-between card-header">
                        <div class="">
                            <h5>Filter</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="row my-1 p-1">
                            <div class="col-4">
                                <select class="form-control" asp-for="@FilterModel.CityID" asp-items="@(new SelectList(ViewBag.CityList,"CityID","CityName"))">
                                    <option value="">Select City</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="form-control" asp-for="@FilterModel.BranchID" asp-items="@(new SelectList(ViewBag.BranchList,"BranchID","BranchName"))">
                                    <option value="">Select Branch</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" asp-for="@FilterModel.StudentName" placeholder="StudentName" />
                            </div>
                            <div class="col-1 my-3 me-3">
                                <button class="btn btn-primary" type="submit" asp-area="MST_Student" asp-controller="MST_Student" asp-action="MST_StudentFilter">Search</button>
                            </div>
                            <div class="col-10 my-3">
                                <form>
                                    <button class="btn btn-danger" type="submit" runat="server" OnClientClick="this.form.reset();return false;">Clear</button>
                                </form>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <br />
                <div class="card">
                    <div class="card-body">
                        <br />
                        <div class="row">
                            <div class="col-10">
                                <h4>Student List</h4>
                            </div>
                            <div class="col-2 mb-3">
                                <a asp-area="MST_Student" asp-controller="MST_Student" asp-action="MST_StudentAdd">
                                    <input type="button" class="btn btn-success" value="Add Student"/>
                                </a>
                            </div>
                        </div>
                        <!-- Table with hoverable rows -->
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">StudentName</th>
                                    <th scope="col">MobileNoStudent</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">BirthDate</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (DataRow dr in Model.Rows)
                                {
                                    <tr>
                                        <td>@dr["StudentName"]</td>
                                        <td>@dr["MobileNoStudent"]</td>
                                        <td>@dr["Email"]</td>
                                        <td>@Convert.ToDateTime(dr["BirthDate"]).ToString("d-M-yyyy")</td>
                                        <td>@dr["Gender"]</td>
                                        <td>
                                            <div class="d-flex">
                                                <div class="me-2">
                                                    <form method="post" asp-area="MST_Student" asp-controller="MST_Student" asp-action="MST_StudentDelete">
                                                        <input type="hidden" value="@Convert.ToInt32(dr["StudentID"])" name="StudentID" />
                                                        <button type="submit" class="btn btn-danger" value="Delete" onclick="return fun1();">Delete</button>
                                                    </form>
                                                </div>
                                                <div class="ms-2">
                                                    <form asp-area="MST_Student" asp-controller="MST_Student" asp-action="MST_StudentAdd">
                                                        <input type="hidden" value="@Convert.ToInt32(dr["StudentID"])" name="StudentID" />
                                                        <button type="submit" class="btn btn-info" value="Update">Update</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- End Table with hoverable rows -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    @section Scripts
        {
        <script>
            function fun1() {
                if (confirm("Are you sure you want to delete?")) {
                    return true;
                }
                else {
                    return false;
                }
            }
            window.onload = function () {
                setTimeout(function () {
                    var alert = document.getElementById('tempAlert');
                    if (alert) {
                        var bsAlert = new bootstrap.Alert(alert);
                        bsAlert.close();
                    }
                }, 5000);  // 5000 milliseconds = 5 seconds
            };
        </script>
    }
</div>